name: On-commit/push check (outside of release)

on:
  push:
    branches:
    - '**'
    ignore-tags:
    - '**'
  pull_request:
    branches:
    - main
    ignore-tags:
    - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          10.0.x
          8.0.x
          6.0.x
    - name: Checkout
      uses: actions/checkout@v4
    - name: Update private NuGet source
      run: |
        dotnet nuget add source --name NoP77svk --username anyone --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text "https://nuget.pkg.github.com/nop77svk/index.json" \
        || dotnet nuget update source NoP77svk --username anyone --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --source "https://nuget.pkg.github.com/nop77svk/index.json"
    - name: Solution clean
      run: |
        rm -rfv */bin */obj && rm -rfv */bin */obj
    - name: NuGet restore
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Test
      run: dotnet test -c Release --no-build
