name: Release upon version tag in main branch

on:
  push:
    branches:
    - main
    tags:
    - "[0-9]+\\.[0-9]+\\.[0-9]+"

permissions:
  contents: write
  id-token: write
  packages: read

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          10.0.x
          8.0.x
          6.0.x
    - name: Checkout
      uses: actions/checkout@v4
    - name: Generate Changelog
      run: echo "# Good things have arrived" > ${{ github.workspace }}-CHANGELOG.txt
    - name: Set VERSION variable from tag
      run: |
        echo "VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
        echo "Triggered by tag ${{ steps.tag.outputs.tag }}, version ${VERSION}"
    - name: Update private NuGet source
      run: |
        dotnet nuget add source \
          --name NoP77svk \
          --username anyone \
          --password ${{ secrets.GITHUB_TOKEN }} \
          --store-password-in-clear-text 'https://nuget.pkg.github.com/nop77svk/index.json' \
        || dotnet nuget update source NoP77svk \
          --username anyone \
          --password ${{ secrets.GITHUB_TOKEN }} \
          --store-password-in-clear-text \
          --source 'https://nuget.pkg.github.com/nop77svk/index.json'
    - name: Solution clean
      run: |
        rm -rfv */bin */obj && rm -rfv */bin */obj
    - name: NuGet restore
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Test
      run: dotnet test -c Release --no-build
    - name: Pack NuGet package
      run: dotnet pack -c Release --no-build -p:PackageVersion=${VERSION} -o ./nupkg
    - name: Push to NuGet Gallery
      run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
#    - name: Release to GitHub releases
#      uses: softprops/action-gh-release@v1
#      if: github.ref_type == 'tag'
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      with:
#        token: "${{ secrets.GITHUB_TOKEN }}"
#        body_path: ${{ github.workspace }}-CHANGELOG.txt
#        repository: nop77svk/wtwd
#        prerelease: false
#        files: |
#          ./_publish.all/*.zip
